node-red.json
[
    {
        "id": "567e3fe2.08f88",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4ba6247.6483a",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "c12bafb8.aa1f3",
        "type": "mysql",
        "z": "567e3fe2.08f88",
        "mydb": "efd09d12.72f64",
        "name": "Mysql Database",
        "x": 1180,
        "y": 580,
        "wires": [
            [
                "f662a9e6.43d628"
            ]
        ]
    },
    {
        "id": "f662a9e6.43d628",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1370,
        "y": 580,
        "wires": []
    },
    {
        "id": "4a9b30d9.07d398",
        "type": "catch",
        "z": "567e3fe2.08f88",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 40,
        "wires": [
            [
                "4a166f79.47b4b"
            ]
        ]
    },
    {
        "id": "4a166f79.47b4b",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "6318b2d8.247874",
        "type": "openweathermap",
        "z": "567e3fe2.08f88",
        "name": "",
        "wtype": "current",
        "lon": "5.777836",
        "lat": "45.185713",
        "city": "",
        "country": "",
        "language": "en",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "789f0935.0d2f3",
                "8a00a2e5.10a39"
            ]
        ]
    },
    {
        "id": "86b026b3.9e998",
        "type": "comment",
        "z": "567e3fe2.08f88",
        "name": "Usefull links",
        "info": "https://nodered.org/docs/user-guide/writing-functions\n\nhttps://flows.nodered.org/node/node-red-node-email\n\nhttps://flows.nodered.org/node/node-red-node-mysql\n\nhttps://flows.nodered.org/node/node-red-node-openweathermap",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "789f0935.0d2f3",
        "type": "function",
        "z": "567e3fe2.08f88",
        "name": "Format Data",
        "func": "var newMsg = { \n    payload: {\n        p_own : msg.payload.pressure,\n        t_own : msg.payload.tempc,\n        h_own : msg.payload.humidity \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 80,
        "wires": [
            [
                "aa182c9e.d91a9"
            ]
        ]
    },
    {
        "id": "8a00a2e5.10a39",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "aa182c9e.d91a9",
        "type": "file",
        "z": "567e3fe2.08f88",
        "name": "Write File",
        "filename": "/home/ubuntu/.node-red/OpenWeatherMapData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 840,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9373611f.1a2358",
        "type": "inject",
        "z": "567e3fe2.08f88",
        "name": "",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "6318b2d8.247874"
            ]
        ]
    },
    {
        "id": "399f9215.f240d6",
        "type": "rising-edge",
        "z": "567e3fe2.08f88",
        "name": "",
        "threshold": "28",
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "d39ee0e5.81d5f"
            ]
        ]
    },
    {
        "id": "78fe67fb.1486c",
        "type": "falling-edge",
        "z": "567e3fe2.08f88",
        "name": "",
        "threshold": "15",
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "62231881.1a903"
            ]
        ]
    },
    {
        "id": "48b4470c.97fc38",
        "type": "function",
        "z": "567e3fe2.08f88",
        "name": "Extract Temperature",
        "func": "msg.payload = msg.payload.t_in;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 440,
        "wires": [
            [
                "399f9215.f240d6",
                "78fe67fb.1486c"
            ]
        ]
    },
    {
        "id": "d39ee0e5.81d5f",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "name": "Send to IFTTT (temp_high)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/temp_high/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1220,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "62231881.1a903",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "name": "Send to IFTTT (temp_low)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/temp_low/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1220,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "21e85b69.fee6bc",
        "type": "mqtt in",
        "z": "567e3fe2.08f88",
        "name": "Receive MQTT Message Outside",
        "topic": "govie-weather-station-1344-out",
        "qos": "2",
        "datatype": "json",
        "broker": "d1b933cf.2c44f",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "a9fb2f45.f1e378",
                "d128d5d.c798228",
                "a4ba6247.6483a"
            ]
        ]
    },
    {
        "id": "804a68b7.38c698",
        "type": "file",
        "z": "567e3fe2.08f88",
        "name": "Write File",
        "filename": "/home/ubuntu/.node-red/InsideData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 500,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a9fb2f45.f1e378",
        "type": "file",
        "z": "567e3fe2.08f88",
        "name": "Write File",
        "filename": "/home/ubuntu/.node-red/OutsideData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 500,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1bba835f.56960d",
        "type": "inject",
        "z": "567e3fe2.08f88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "4bb73356.f8e3ec",
                "5baa8075.78e6b",
                "17cde34d.4be36d"
            ]
        ]
    },
    {
        "id": "4bb73356.f8e3ec",
        "type": "file in",
        "z": "567e3fe2.08f88",
        "name": "Read File (OWM)",
        "filename": "/home/ubuntu/.node-red/OpenWeatherMapData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "fa5df9ce.1f047"
            ]
        ]
    },
    {
        "id": "5baa8075.78e6b",
        "type": "file in",
        "z": "567e3fe2.08f88",
        "name": "Read File (Inside)",
        "filename": "/home/ubuntu/.node-red/InsideData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "1efcf903.694fb7"
            ]
        ]
    },
    {
        "id": "17cde34d.4be36d",
        "type": "file in",
        "z": "567e3fe2.08f88",
        "name": "Read File (Ouside)",
        "filename": "/home/ubuntu/.node-red/OutsideData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "8f069622.af7da"
            ]
        ]
    },
    {
        "id": "f3a16d7a.7dfd78",
        "type": "join",
        "z": "567e3fe2.08f88",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 580,
        "wires": [
            [
                "5af8f480.be70c4"
            ]
        ]
    },
    {
        "id": "3e6c4ce5.cd7e34",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1170,
        "y": 640,
        "wires": []
    },
    {
        "id": "8f069622.af7da",
        "type": "json",
        "z": "567e3fe2.08f88",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "f3a16d7a.7dfd78"
            ]
        ]
    },
    {
        "id": "bcd43e51.c0f188",
        "type": "function",
        "z": "567e3fe2.08f88",
        "name": "Calculate humidex",
        "func": "msg.payload.humidex = HUMIDEX(msg.payload.t_in,msg.payload.h_in);\nreturn msg;\n\n/*\n * Calculates the humidex.\n * Source : https://memory.psych.mun.ca/tech/js/humidex/\n */\nfunction HUMIDEX(temp, hum) {\n\tvar t_celcius= temp;\n\tvar humidity = hum;\n\n\tvar t_kelvin=t_celcius + 273;\n\tvar eTs=Math.pow(10,((-2937.4 /t_kelvin)-4.9283* Math.log(t_kelvin)/Math.LN10 +23.5471));\n\tvar eTd=eTs * humidity /100;\n\n\tvar humidex=Math.round(t_celcius + ((eTd-10)*5/9));\n\tif (humidex < t_celcius) {\n\t\thumidex=t_celcius;\n\t}\n\n    return humidex;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 500,
        "wires": [
            [
                "f3a16d7a.7dfd78"
            ]
        ]
    },
    {
        "id": "1efcf903.694fb7",
        "type": "json",
        "z": "567e3fe2.08f88",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "bcd43e51.c0f188",
                "48b4470c.97fc38"
            ]
        ]
    },
    {
        "id": "fa5df9ce.1f047",
        "type": "json",
        "z": "567e3fe2.08f88",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "f3a16d7a.7dfd78"
            ]
        ]
    },
    {
        "id": "5af8f480.be70c4",
        "type": "function",
        "z": "567e3fe2.08f88",
        "name": "Format Data",
        "func": "var currentdate = new Date().toISOString().slice(0, 19).replace('T', ' ');\nconsole.log(msg.file);\nvar pl = msg.payload;\n    var newMsg = {\n        payload: [\n            currentdate, \n            pl.p_own,\n            pl.t_in,\n            pl.h_in,\n            pl.t_out,\n            pl.h_own,\n            pl.humidex\n        ],\n        topic:`INSERT INTO Stats (Date, \n        Pressure,\n        InsideTemp,\n        InsideHumidity,\n        OutsideTemp,\n        OutsideHumidity,\n        Humidex) \n        VALUES (?,?,?,?,?,?,?)`\n    };\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 580,
        "wires": [
            [
                "3e6c4ce5.cd7e34",
                "c12bafb8.aa1f3"
            ]
        ]
    },
    {
        "id": "a54713ff.7a55a",
        "type": "switch",
        "z": "567e3fe2.08f88",
        "name": "in > out",
        "property": "payload.t_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "head",
                "v": "",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 960,
        "y": 780,
        "wires": [
            [
                "81a4287b.53a31"
            ]
        ]
    },
    {
        "id": "8c8f75b6.a6b7f",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 970,
        "y": 900,
        "wires": []
    },
    {
        "id": "e3f24e05.c0c358",
        "type": "join",
        "z": "567e3fe2.08f88",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 800,
        "wires": [
            [
                "8c8f75b6.a6b7f",
                "a54713ff.7a55a",
                "328756a2.3acdf2",
                "7110fcb8.3e3c1c",
                "54bc2755.0291b"
            ]
        ]
    },
    {
        "id": "328756a2.3acdf2",
        "type": "switch",
        "z": "567e3fe2.08f88",
        "name": "out > in ",
        "property": "payload.t_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 960,
        "y": 820,
        "wires": [
            [
                "d4c56dff.518578"
            ]
        ]
    },
    {
        "id": "54bc2755.0291b",
        "type": "switch",
        "z": "567e3fe2.08f88",
        "name": "out < in ",
        "property": "payload.t_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 960,
        "y": 740,
        "wires": [
            [
                "81a4287b.53a31"
            ]
        ]
    },
    {
        "id": "7110fcb8.3e3c1c",
        "type": "switch",
        "z": "567e3fe2.08f88",
        "name": "in < out ",
        "property": "payload.t_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 960,
        "y": 860,
        "wires": [
            [
                "d4c56dff.518578"
            ]
        ]
    },
    {
        "id": "d4c56dff.518578",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "name": "Send to IFTTT (window_close)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/window_close/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1190,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "81a4287b.53a31",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "name": "Send to IFTTT (window_open)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/window_open/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1190,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "abb5202b.d01e18",
        "type": "comment",
        "z": "567e3fe2.08f88",
        "name": "(Summer Only)",
        "info": "(Summer Only)",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "a27aad61.506fa8",
        "type": "mqtt in",
        "z": "567e3fe2.08f88",
        "name": "Receive MQTT Message Inside",
        "topic": "govie-weather-station-1344-in",
        "qos": "2",
        "datatype": "json",
        "broker": "d1b933cf.2c44f",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "804a68b7.38c698",
                "d128d5d.c798228",
                "a4ba6247.6483a"
            ]
        ]
    },
    {
        "id": "d128d5d.c798228",
        "type": "timeout",
        "z": "567e3fe2.08f88",
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "",
        "outunsafe": "Unsafe",
        "warning": "",
        "timer": "250",
        "repeat": false,
        "again": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "41bdd4da.cc9314"
            ]
        ]
    },
    {
        "id": "41bdd4da.cc9314",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "name": "Send to IFTTT (error)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/error/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 720,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "efd09d12.72f64",
        "type": "MySQLdatabase",
        "z": "",
        "name": "",
        "host": "192.168.1.38",
        "port": "3306",
        "db": "Weather_Station",
        "tz": ""
    },
    {
        "id": "d1b933cf.2c44f",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.38",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]