node-red.json
[
    {
        "id": "a143cb00.2c2da",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "efe2f1e8.fc91c",
        "type": "mqtt in",
        "z": "a143cb00.2c2da",
        "name": "Receive MQTT Message Inside",
        "topic": "govie-weather-station-1344-in",
        "qos": "2",
        "datatype": "json",
        "broker": "e3c4722.40bd81",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "ad5a2252.e236e8",
                "90887f95.48b19"
            ]
        ]
    },
    {
        "id": "ad5a2252.e236e8",
        "type": "debug",
        "z": "a143cb00.2c2da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "675208b7.3f3fd8",
        "type": "mysql",
        "z": "a143cb00.2c2da",
        "mydb": "ad2f5ab0.06d6f",
        "name": "Mysql Database",
        "x": 1260,
        "y": 480,
        "wires": [
            [
                "3d09b42e.9a07e4"
            ]
        ]
    },
    {
        "id": "3d09b42e.9a07e4",
        "type": "debug",
        "z": "a143cb00.2c2da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1450,
        "y": 480,
        "wires": []
    },
    {
        "id": "beba7005.8b09e",
        "type": "catch",
        "z": "a143cb00.2c2da",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1020,
        "y": 80,
        "wires": [
            [
                "7a9c68.e14d9398"
            ]
        ]
    },
    {
        "id": "7a9c68.e14d9398",
        "type": "debug",
        "z": "a143cb00.2c2da",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1170,
        "y": 80,
        "wires": []
    },
    {
        "id": "a13791d6.3a27",
        "type": "openweathermap",
        "z": "a143cb00.2c2da",
        "name": "",
        "wtype": "current",
        "lon": "5.777836",
        "lat": "45.185713",
        "city": "",
        "country": "",
        "language": "en",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "d03c9035.f972a",
                "acdec7f5.f76da8"
            ]
        ]
    },
    {
        "id": "dfa2c1b1.a91c7",
        "type": "e-mail",
        "z": "a143cb00.2c2da",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "richardadrien0@gmail.com",
        "dname": "Send Mail",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "1f13e7d8.34252",
        "type": "function",
        "z": "a143cb00.2c2da",
        "name": "Format Mail",
        "func": "var newMsg = {\n    topic :\"Il Fait plus de 28째C\",\n    payload : \"Il Fait plus de 28째C\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "a419009b.b568b"
            ]
        ]
    },
    {
        "id": "a419009b.b568b",
        "type": "e-mail",
        "z": "a143cb00.2c2da",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "richardadrien0@gmail.com",
        "dname": "Send Mail",
        "x": 1180,
        "y": 160,
        "wires": []
    },
    {
        "id": "2ef67e5e.5f1dda",
        "type": "comment",
        "z": "a143cb00.2c2da",
        "name": "Usefull links",
        "info": "https://nodered.org/docs/user-guide/writing-functions\n\nhttps://flows.nodered.org/node/node-red-node-email\n\nhttps://flows.nodered.org/node/node-red-node-mysql\n\nhttps://flows.nodered.org/node/node-red-node-openweathermap",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "c2c7beae.9534f8",
        "type": "function",
        "z": "a143cb00.2c2da",
        "name": "Format Mail",
        "func": "var newMsg = {\n    topic :\"Il Fait moins de 15째C\",\n    payload : \"Il Fait moins de 15째C\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 120,
        "wires": [
            [
                "dfa2c1b1.a91c7"
            ]
        ]
    },
    {
        "id": "d03c9035.f972a",
        "type": "function",
        "z": "a143cb00.2c2da",
        "name": "Format Data",
        "func": "var newMsg = { \n    payload: {\n        p_own : msg.payload.pressure,\n        t_own : msg.payload.tempc,\n        h_own : msg.payload.humidity \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 60,
        "wires": [
            [
                "8d775cb7.b9758"
            ]
        ]
    },
    {
        "id": "acdec7f5.f76da8",
        "type": "debug",
        "z": "a143cb00.2c2da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "8d775cb7.b9758",
        "type": "file",
        "z": "a143cb00.2c2da",
        "name": "Write File",
        "filename": "/home/adrien/.node-red/OpenWeatherMapData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 840,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e38842c5.bf742",
        "type": "inject",
        "z": "a143cb00.2c2da",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "a13791d6.3a27"
            ]
        ]
    },
    {
        "id": "8fb3381f.317318",
        "type": "rising-edge",
        "z": "a143cb00.2c2da",
        "name": "",
        "threshold": "28",
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "7dbe0ef9.0aa2f"
            ]
        ]
    },
    {
        "id": "c2905d58.dd2c3",
        "type": "falling-edge",
        "z": "a143cb00.2c2da",
        "name": "",
        "threshold": "15",
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "fc323411.5b1398"
            ]
        ]
    },
    {
        "id": "81536f5c.26d9e8",
        "type": "function",
        "z": "a143cb00.2c2da",
        "name": "get Temperature",
        "func": "msg.payload = msg.payload.t_in;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "8fb3381f.317318",
                "c2905d58.dd2c3"
            ]
        ]
    },
    {
        "id": "7dbe0ef9.0aa2f",
        "type": "http request",
        "z": "a143cb00.2c2da",
        "name": "Send to IFTTT",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/temp_high/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1180,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fc323411.5b1398",
        "type": "http request",
        "z": "a143cb00.2c2da",
        "name": "Send to IFTTT",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/temp_low/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9b6736b3.1837e",
        "type": "mqtt in",
        "z": "a143cb00.2c2da",
        "name": "Receive MQTT Message Outside",
        "topic": "govie-weather-station-1344-out",
        "qos": "2",
        "datatype": "json",
        "broker": "e3c4722.40bd81",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "61563ebe.cce658",
                "ad5a2252.e236e8"
            ]
        ]
    },
    {
        "id": "90887f95.48b19",
        "type": "file",
        "z": "a143cb00.2c2da",
        "name": "Write File",
        "filename": "/home/adrien/.node-red/InsideData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "61563ebe.cce658",
        "type": "file",
        "z": "a143cb00.2c2da",
        "name": "Write File",
        "filename": "/home/adrien/.node-red/OutsideData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 500,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7b7144a7.f354fc",
        "type": "inject",
        "z": "a143cb00.2c2da",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "d127e89c.88622",
                "bcdac60b.9068c",
                "3bd6d5be.5c398a"
            ]
        ]
    },
    {
        "id": "d127e89c.88622",
        "type": "file in",
        "z": "a143cb00.2c2da",
        "name": "Read File (OWM)",
        "filename": "/home/adrien/.node-red/OpenWeatherMapData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "5917ff30.14e88"
            ]
        ]
    },
    {
        "id": "bcdac60b.9068c",
        "type": "file in",
        "z": "a143cb00.2c2da",
        "name": "Read File (Inside)",
        "filename": "/home/adrien/.node-red/InsideData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "7ed2cd12.f91244"
            ]
        ]
    },
    {
        "id": "3bd6d5be.5c398a",
        "type": "file in",
        "z": "a143cb00.2c2da",
        "name": "Read File (Ouside)",
        "filename": "/home/adrien/.node-red/OutsideData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "d86b1d14.c7e72"
            ]
        ]
    },
    {
        "id": "331d8e84.eeedca",
        "type": "join",
        "z": "a143cb00.2c2da",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 480,
        "wires": [
            [
                "12d20d05.acfda3"
            ]
        ]
    },
    {
        "id": "e71fa0c2.b90cc",
        "type": "debug",
        "z": "a143cb00.2c2da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1110,
        "y": 540,
        "wires": []
    },
    {
        "id": "d86b1d14.c7e72",
        "type": "json",
        "z": "a143cb00.2c2da",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "331d8e84.eeedca"
            ]
        ]
    },
    {
        "id": "24bde74b.6965a8",
        "type": "function",
        "z": "a143cb00.2c2da",
        "name": "Calculate humidex",
        "func": "msg.payload.humidex = HUMIDEX(msg.payload.t_in,msg.payload.h_in);\nreturn msg;\n\n/*\n * Calculates the humidex.\n * Source : https://memory.psych.mun.ca/tech/js/humidex/\n */\nfunction HUMIDEX(temp, hum) {\n\tvar t_celcius= temp;\n\tvar humidity = hum;\n\n\tvar t_kelvin=t_celcius + 273;\n\tvar eTs=Math.pow(10,((-2937.4 /t_kelvin)-4.9283* Math.log(t_kelvin)/Math.LN10 +23.5471));\n\tvar eTd=eTs * humidity /100;\n\n\tvar humidex=Math.round(t_celcius + ((eTd-10)*5/9));\n\tif (humidex < t_celcius) {\n\t\thumidex=t_celcius;\n\t}\n\n    return humidex;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "331d8e84.eeedca"
            ]
        ]
    },
    {
        "id": "7ed2cd12.f91244",
        "type": "json",
        "z": "a143cb00.2c2da",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "24bde74b.6965a8",
                "81536f5c.26d9e8"
            ]
        ]
    },
    {
        "id": "5917ff30.14e88",
        "type": "json",
        "z": "a143cb00.2c2da",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "331d8e84.eeedca"
            ]
        ]
    },
    {
        "id": "12d20d05.acfda3",
        "type": "function",
        "z": "a143cb00.2c2da",
        "name": "Format Data",
        "func": "var currentdate = new Date().toISOString().slice(0, 19).replace('T', ' ');\nconsole.log(msg.file);\nvar pl = msg.payload;\n    var newMsg = {\n        payload: [\n            currentdate, \n            pl.p_own,\n            pl.t_in,\n            pl.h_in,\n            pl.t_out,\n            pl.h_own,\n            pl.humidex\n        ],\n        topic:`INSERT INTO Stats (Date, \n        Pressure,\n        InsideTemp,\n        InsideHumidity,\n        OutsideTemp,\n        OutsideHumidity,\n        Humidex) \n        VALUES (?,?,?,?,?,?,?)`\n    };\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "e71fa0c2.b90cc",
                "675208b7.3f3fd8"
            ]
        ]
    },
    {
        "id": "e3c4722.40bd81",
        "type": "mqtt-broker",
        "z": "",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ad2f5ab0.06d6f",
        "type": "MySQLdatabase",
        "z": "",
        "name": "",
        "host": "192.168.1.4",
        "port": "3306",
        "db": "Weather_Station",
        "tz": "",
        "charset": "UTF8"
    }
]