PLATFORM.IO/Other/node-red.json
[
    {
        "id": "567e3fe2.08f88",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "13332ce12fe1a6ca",
        "type": "group",
        "z": "567e3fe2.08f88",
        "name": "Notificatiosn and database storage",
        "style": {
            "label": true
        },
        "nodes": [
            "48b4470c.97fc38",
            "d39ee0e5.81d5f",
            "62231881.1a903",
            "1bba835f.56960d",
            "4bb73356.f8e3ec",
            "5baa8075.78e6b",
            "17cde34d.4be36d",
            "f3a16d7a.7dfd78",
            "3e6c4ce5.cd7e34",
            "8f069622.af7da",
            "bcd43e51.c0f188",
            "1efcf903.694fb7",
            "fa5df9ce.1f047",
            "5af8f480.be70c4",
            "78fe67fb.1486c",
            "399f9215.f240d6",
            "f662a9e6.43d628",
            "c12bafb8.aa1f3"
        ],
        "x": 34,
        "y": 339,
        "w": 1392,
        "h": 302
    },
    {
        "id": "72df0220e4c2f91c",
        "type": "group",
        "z": "567e3fe2.08f88",
        "name": "Test for summer notifications",
        "style": {
            "label": true
        },
        "nodes": [
            "a54713ff.7a55a",
            "8c8f75b6.a6b7f",
            "e3f24e05.c0c358",
            "328756a2.3acdf2",
            "54bc2755.0291b",
            "7110fcb8.3e3c1c",
            "d4c56dff.518578",
            "81a4287b.53a31",
            "abb5202b.d01e18"
        ],
        "x": 654,
        "y": 679,
        "w": 672,
        "h": 282
    },
    {
        "id": "aead77a1419a7c26",
        "type": "group",
        "z": "567e3fe2.08f88",
        "name": "Open weather map",
        "style": {
            "label": true
        },
        "nodes": [
            "789f0935.0d2f3",
            "8a00a2e5.10a39",
            "aa182c9e.d91a9",
            "9373611f.1a2358",
            "6318b2d8.247874"
        ],
        "x": 794,
        "y": 79,
        "w": 812,
        "h": 122
    },
    {
        "id": "c607e7cb0c229594",
        "type": "group",
        "z": "567e3fe2.08f88",
        "name": "Test Enedis",
        "style": {
            "label": true
        },
        "nodes": [
            "ae2477fb.d8973",
            "f6fbcee7.e709a8",
            "40af5180.ddad98"
        ],
        "x": 34,
        "y": 679,
        "w": 602,
        "h": 82
    },
    {
        "id": "c7261903ad40f5b7",
        "type": "group",
        "z": "567e3fe2.08f88",
        "name": "Inside & Outside weather stations",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "a4ba6247.6483a",
            "21e85b69.fee6bc",
            "804a68b7.38c698",
            "a9fb2f45.f1e378",
            "a27aad61.506fa8",
            "41bdd4da.cc9314",
            "906993a.cfdd4f",
            "d128d5d.c798228",
            "15093f64.2b2a61"
        ],
        "x": 34,
        "y": 79,
        "w": 732,
        "h": 242
    },
    {
        "id": "e9b35422f9f6374a",
        "type": "group",
        "z": "567e3fe2.08f88",
        "name": "Air quality",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "9e74fe71c06e8337",
            "ac72f5c0137fe419",
            "a041938b5d7c1218",
            "c32d1d28a4956153"
        ],
        "x": 794,
        "y": 219,
        "w": 892,
        "h": 82
    },
    {
        "id": "a4ba6247.6483a",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "f662a9e6.43d628",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1310,
        "y": 540,
        "wires": []
    },
    {
        "id": "4a9b30d9.07d398",
        "type": "catch",
        "z": "567e3fe2.08f88",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 840,
        "wires": [
            [
                "4a166f79.47b4b"
            ]
        ]
    },
    {
        "id": "4a166f79.47b4b",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 840,
        "wires": []
    },
    {
        "id": "86b026b3.9e998",
        "type": "comment",
        "z": "567e3fe2.08f88",
        "name": "Usefull links",
        "info": "https://nodered.org/docs/user-guide/writing-functions\n\nhttps://flows.nodered.org/node/node-red-node-email\n\nhttps://flows.nodered.org/node/node-red-node-mysql\n\nhttps://flows.nodered.org/node/node-red-node-openweathermap",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "789f0935.0d2f3",
        "type": "function",
        "z": "567e3fe2.08f88",
        "g": "aead77a1419a7c26",
        "name": "Format Data",
        "func": "var newMsg = { \n    payload: {\n        p_own : msg.payload.pressure,\n        t_own : msg.payload.tempc,\n        h_own : msg.payload.humidity \n    }\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1350,
        "y": 120,
        "wires": [
            [
                "aa182c9e.d91a9"
            ]
        ]
    },
    {
        "id": "8a00a2e5.10a39",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "g": "aead77a1419a7c26",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1350,
        "y": 160,
        "wires": []
    },
    {
        "id": "aa182c9e.d91a9",
        "type": "file",
        "z": "567e3fe2.08f88",
        "g": "aead77a1419a7c26",
        "name": "Write File",
        "filename": "/home/ubuntu/.node-red/OpenWeatherMapData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9373611f.1a2358",
        "type": "inject",
        "z": "567e3fe2.08f88",
        "g": "aead77a1419a7c26",
        "name": "",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 890,
        "y": 140,
        "wires": [
            [
                "6318b2d8.247874"
            ]
        ]
    },
    {
        "id": "48b4470c.97fc38",
        "type": "function",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "Extract Temperature",
        "func": "msg.payload = msg.payload.t_in;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 400,
        "wires": [
            [
                "399f9215.f240d6",
                "78fe67fb.1486c"
            ]
        ]
    },
    {
        "id": "d39ee0e5.81d5f",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "Send to IFTTT (temp_high)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/temp_high/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1160,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "62231881.1a903",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "Send to IFTTT (temp_low)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/temp_low/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1160,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "21e85b69.fee6bc",
        "type": "mqtt in",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "Receive MQTT Message Outside",
        "topic": "govie-weather-station-1344-out",
        "qos": "2",
        "datatype": "json",
        "broker": "af28118d.47535",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "a9fb2f45.f1e378",
                "d128d5d.c798228",
                "a4ba6247.6483a"
            ]
        ]
    },
    {
        "id": "804a68b7.38c698",
        "type": "file",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "Write File",
        "filename": "/home/ubuntu/.node-red/InsideData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a9fb2f45.f1e378",
        "type": "file",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "Write File",
        "filename": "/home/ubuntu/.node-red/OutsideData.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1bba835f.56960d",
        "type": "inject",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "4bb73356.f8e3ec",
                "5baa8075.78e6b",
                "17cde34d.4be36d"
            ]
        ]
    },
    {
        "id": "4bb73356.f8e3ec",
        "type": "file in",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "Read File (OWM)",
        "filename": "/home/ubuntu/.node-red/OpenWeatherMapData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "fa5df9ce.1f047"
            ]
        ]
    },
    {
        "id": "5baa8075.78e6b",
        "type": "file in",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "Read File (Inside)",
        "filename": "/home/ubuntu/.node-red/InsideData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "1efcf903.694fb7"
            ]
        ]
    },
    {
        "id": "17cde34d.4be36d",
        "type": "file in",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "Read File (Ouside)",
        "filename": "/home/ubuntu/.node-red/OutsideData.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "8f069622.af7da"
            ]
        ]
    },
    {
        "id": "f3a16d7a.7dfd78",
        "type": "join",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "5af8f480.be70c4"
            ]
        ]
    },
    {
        "id": "3e6c4ce5.cd7e34",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1110,
        "y": 600,
        "wires": []
    },
    {
        "id": "8f069622.af7da",
        "type": "json",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "f3a16d7a.7dfd78"
            ]
        ]
    },
    {
        "id": "bcd43e51.c0f188",
        "type": "function",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "Calculate humidex",
        "func": "msg.payload.humidex = HUMIDEX(msg.payload.t_in,msg.payload.h_in);\nreturn msg;\n\n/*\n * Calculates the humidex.\n * Source : https://memory.psych.mun.ca/tech/js/humidex/\n */\nfunction HUMIDEX(t_celcius, humidity) {\n\n\tvar t_kelvin=t_celcius + 273;\n\tvar eTs=Math.pow(10,((-2937.4 /t_kelvin)-4.9283* Math.log(t_kelvin)/Math.LN10 +23.5471));\n\tvar eTd=eTs * humidity /100;\n\n\tvar humidex=Math.round(t_celcius + ((eTd-10)*5/9));\n\tif (humidex < 25) {\n\t\thumidex=t_celcius;\n\t}\n\n    return humidex;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "f3a16d7a.7dfd78"
            ]
        ]
    },
    {
        "id": "1efcf903.694fb7",
        "type": "json",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "bcd43e51.c0f188",
                "48b4470c.97fc38"
            ]
        ]
    },
    {
        "id": "fa5df9ce.1f047",
        "type": "json",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "f3a16d7a.7dfd78"
            ]
        ]
    },
    {
        "id": "5af8f480.be70c4",
        "type": "function",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "Format Data",
        "func": "var currentdate = new Date().toISOString().slice(0, 19).replace('T', ' ');\nconsole.log(msg.file);\nvar pl = msg.payload;\n    var newMsg = {\n        payload: [\n            currentdate, \n            pl.p_own,\n            pl.t_in,\n            pl.h_in,\n            pl.t_out,\n            pl.h_own,\n            pl.humidex\n        ],\n        topic:`INSERT INTO Stats (Date, \n        Pressure,\n        InsideTemp,\n        InsideHumidity,\n        OutsideTemp,\n        OutsideHumidity,\n        Humidex) \n        VALUES (?,?,?,?,?,?,?)`\n    };\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 540,
        "wires": [
            [
                "3e6c4ce5.cd7e34",
                "c12bafb8.aa1f3"
            ]
        ]
    },
    {
        "id": "a54713ff.7a55a",
        "type": "switch",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "in > out",
        "property": "payload.t_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "head",
                "v": "",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 800,
        "wires": [
            [
                "81a4287b.53a31"
            ]
        ]
    },
    {
        "id": "8c8f75b6.a6b7f",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 920,
        "wires": []
    },
    {
        "id": "e3f24e05.c0c358",
        "type": "join",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 820,
        "wires": [
            [
                "8c8f75b6.a6b7f",
                "a54713ff.7a55a",
                "328756a2.3acdf2",
                "7110fcb8.3e3c1c",
                "54bc2755.0291b"
            ]
        ]
    },
    {
        "id": "328756a2.3acdf2",
        "type": "switch",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "out > in ",
        "property": "payload.t_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 840,
        "wires": [
            [
                "d4c56dff.518578"
            ]
        ]
    },
    {
        "id": "54bc2755.0291b",
        "type": "switch",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "out < in ",
        "property": "payload.t_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 760,
        "wires": [
            [
                "81a4287b.53a31"
            ]
        ]
    },
    {
        "id": "7110fcb8.3e3c1c",
        "type": "switch",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "in < out ",
        "property": "payload.t_in",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 880,
        "wires": [
            [
                "d4c56dff.518578"
            ]
        ]
    },
    {
        "id": "d4c56dff.518578",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "Send to IFTTT (window_close)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/window_close/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1170,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "81a4287b.53a31",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "Send to IFTTT (window_open)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://maker.ifttt.com/trigger/window_open/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1170,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "abb5202b.d01e18",
        "type": "comment",
        "z": "567e3fe2.08f88",
        "g": "72df0220e4c2f91c",
        "name": "(Summer Only)",
        "info": "(Summer Only)",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "a27aad61.506fa8",
        "type": "mqtt in",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "Receive MQTT Message Inside",
        "topic": "govie-weather-station-1344-in",
        "qos": "2",
        "datatype": "json",
        "broker": "af28118d.47535",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "804a68b7.38c698",
                "a4ba6247.6483a",
                "15093f64.2b2a61"
            ]
        ]
    },
    {
        "id": "41bdd4da.cc9314",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "Send to IFTTT (error)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/error/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "906993a.cfdd4f",
        "type": "http request",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "Send to IFTTT (error)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/error/with/key/dSBW3E3aEr1Nn7OvoDXiC5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d128d5d.c798228",
        "type": "timeout",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "",
        "outunsafe": "Unsafe",
        "warning": "",
        "timer": "250",
        "repeat": false,
        "again": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "41bdd4da.cc9314"
            ]
        ]
    },
    {
        "id": "15093f64.2b2a61",
        "type": "timeout",
        "z": "567e3fe2.08f88",
        "g": "c7261903ad40f5b7",
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "",
        "outunsafe": "Unsafe",
        "warning": "",
        "timer": "250",
        "repeat": false,
        "again": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "906993a.cfdd4f"
            ]
        ]
    },
    {
        "id": "c12bafb8.aa1f3",
        "type": "mysql",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "mydb": "efd09d12.72f64",
        "name": "Mysql Database",
        "x": 1120,
        "y": 540,
        "wires": [
            [
                "f662a9e6.43d628"
            ]
        ]
    },
    {
        "id": "6318b2d8.247874",
        "type": "openweathermap",
        "z": "567e3fe2.08f88",
        "g": "aead77a1419a7c26",
        "name": "",
        "wtype": "current",
        "lon": "5.777836",
        "lat": "45.185713",
        "city": "",
        "country": "",
        "language": "en",
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "789f0935.0d2f3",
                "8a00a2e5.10a39"
            ]
        ]
    },
    {
        "id": "78fe67fb.1486c",
        "type": "falling-edge",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "threshold": "15",
        "x": 950,
        "y": 420,
        "wires": [
            [
                "62231881.1a903"
            ]
        ]
    },
    {
        "id": "399f9215.f240d6",
        "type": "rising-edge",
        "z": "567e3fe2.08f88",
        "g": "13332ce12fe1a6ca",
        "name": "",
        "threshold": "28",
        "x": 950,
        "y": 380,
        "wires": [
            [
                "d39ee0e5.81d5f"
            ]
        ]
    },
    {
        "id": "ae2477fb.d8973",
        "type": "Enedis-Linky",
        "z": "567e3fe2.08f88",
        "d": true,
        "g": "c607e7cb0c229594",
        "name": "",
        "username": "richardadrien0@gmail.com",
        "password": "__PWRD__",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "40af5180.ddad98"
            ]
        ]
    },
    {
        "id": "f6fbcee7.e709a8",
        "type": "inject",
        "z": "567e3fe2.08f88",
        "g": "c607e7cb0c229594",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "ae2477fb.d8973"
            ]
        ]
    },
    {
        "id": "40af5180.ddad98",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "g": "c607e7cb0c229594",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "9e74fe71c06e8337",
        "type": "mqtt in",
        "z": "567e3fe2.08f88",
        "g": "e9b35422f9f6374a",
        "name": "Receive MQTT Message Airquality",
        "topic": "govie-air-qual",
        "qos": "2",
        "datatype": "json",
        "broker": "af28118d.47535",
        "nl": false,
        "rap": false,
        "x": 960,
        "y": 260,
        "wires": [
            [
                "a041938b5d7c1218"
            ]
        ]
    },
    {
        "id": "ac72f5c0137fe419",
        "type": "debug",
        "z": "567e3fe2.08f88",
        "g": "e9b35422f9f6374a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 260,
        "wires": []
    },
    {
        "id": "a041938b5d7c1218",
        "type": "function",
        "z": "567e3fe2.08f88",
        "g": "e9b35422f9f6374a",
        "name": "Format Data",
        "func": "var currentdate = new Date().toISOString().slice(0, 19).replace('T', ' ');\nconsole.log(msg.file);\nvar pl = msg.payload;\n    var newMsg = {\n        payload: [\n            pl.qual,\n            currentdate\n        ],\n        topic:`INSERT INTO AirQuality (Quality,\n        Time) \n        VALUES (?,?)`\n    };\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 260,
        "wires": [
            [
                "c32d1d28a4956153"
            ]
        ]
    },
    {
        "id": "c32d1d28a4956153",
        "type": "mysql",
        "z": "567e3fe2.08f88",
        "g": "e9b35422f9f6374a",
        "mydb": "efd09d12.72f64",
        "name": "Mysql Database",
        "x": 1400,
        "y": 260,
        "wires": [
            [
                "ac72f5c0137fe419"
            ]
        ]
    },
    {
        "id": "af28118d.47535",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "efd09d12.72f64",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "Weather_Station",
        "tz": "",
        "charset": ""
    }
]